h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding :0;
  border :0;
  font-size :100%;
  font :inherit;
  font-style : normal;
  vertical-align : baseline;
}
body, html {
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}
*{
  list-style: none;
}
/* ==========================navbar==================== */
.dropdown-item:hover{
  background-color: grey !important;
}
.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}
/* =============================side nav==================== */
.side-nav{
  height: 100vh;
  background-color: white;
}
.side-nav .nav-link{
  padding: 15px;
}
.side-nav .nav-link:hover{
  background-color: grey !important;
}
/* ================================main header================== */
.main-header{
  height: inherit;
}
.main-header img {
  max-width: 85%;
  display: block;
  margin: auto;
}
/* ======================service===================== */
.service h2{
  display: flex;
  justify-content: center;
}
.service p{
  color: #b3b3b3;
}
/* =====================footer======================= */
.list-icon{
  display: flex;
  justify-content: start;
  align-items: baseline;
}
.list-icon i{
  color: #3366ff;
}
footer p{
  color: #b3b3b3;
  font-size: 14px;
}
.list-icon .box{
  color: #b3b3b3;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2{
  font-size: 25px;
}
.input-group button{
  background-color: #3366ff;
  color: white;
}
footer .icons li{
  border-radius: 100%;
  background-color: #3366ff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}
.icons:nth-child(1){
  background-color: #4267B2;
}
.icons :nth-child(2){
  background-color: #1DA1F2;
}
.icons :nth-child(3){
  background-color: #EA4335;
}
.icons :nth-child(4){
  background-color: #E4405F;
}
.icons:nth-child(n) li:hover{
  opacity: .5;
}
/* ========================second footer=================== */
.second-footer{
  background-color: black;
  display: flex;
  justify-content: center;
}