h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding :0;
  border :0;
  font-size :100%;
  font :inherit;
  font-style : normal;
  vertical-align : baseline;
}
body, html {
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}
/* ==========================navbar==================== */
.dropdown-item:hover{
  background-color: grey !important;
}
.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
/* =============================side nav==================== */
.side-nav{
  height: 100vh;
  background-color: white;
}
.side-nav .nav-link{
  padding: 15px;
}
.side-nav .nav-link:hover{
  background-color: grey !important;
}
/* ================================main header================== */
.main-header{
  height: inherit;
}
.main-header img {
  max-width: 85%;
  display: block;
  margin: auto;
}
/* ======================service===================== */
.service h2{
  display: flex;
  justify-content: center;
}
